.container-setgoal {
  display: flex;
  width: 100%;
}

.container-setgoal .left-setgoal {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50%;
  gap: 25% 0;
}

.container-setgoal .left-setgoal .div-form-setgoal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-setgoal .right-setgoal {
  background-color: #b0ead2;
  border-left: 2px solid black;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-setgoal .right-setgoal .picsg img {
  width: 720px;
  height: 740px;
}

.container-setgoal .right-setgoal .picsg {
  display: flex;
  justify-content: center;
  align-content: center;
}
