/* ลองหน้า set goal */

.container-setgoal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-setgoal .left-setgoal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.container-setgoal .right-setgoal {
    background-color: #C7BEF3;
    width: 50%;
    height: 100vh;
}

.container-setgoal .right-setgoal img {
    width: 720px;
    height: 740px;
}
