.container-signin {
    display: flex;
    justify-content: space-between;
}

.container-signin .img-signin {
    background-color: #C7BEF3;
}

.container-signin .img-signin img {
    width: 720px;
    height: 740px;
}

.container-signin .left-signin {
    padding: 50px;
}

.container-signin .form-signin {
    display: flex;
    flex-direction: column;
}

.container-signin .formsign {
    margin: 0 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
    padding-top: 100px;
}

.container-signin .formsign h1 {
    font-size: 40px;
    margin: 30px 0;
    display: inline-flex;
    justify-content: center;
}

/* .signin{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */

.signin label {
    font-size: 1.125rem;
    font-weight: 500;
}

.signin select, .signin input, .signin textarea, .signin button {
    font-family: 'DM Sans', sans-serif;
    padding: 0.25rem;
    margin: 0.75rem 0;
    box-sizing: border-box;
    width: 320px;
    height: 48px;
    border: 2px solid black;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
}

.signin textarea {
    min-height: 72px;
    resize: vertical;
}

.signin button {
    margin: 0.75rem 0;
    background: black;
    color: white;
    height: 3rem;
    transition: all 0.1s;

}
.signin button:hover {
    margin: 0.75rem 0;
    background: #dafc3d;
    color: black;
    height: 3rem;
    transition: all 0.1s;
}


.signin .error {
    color: red;
    margin: 0;
    padding: 0;
}
